atlassian-python-api
bitbucket-python
certifi
charset-normalizer
Deprecated
idna
numpy
oauthlib
pandas
python-dateutil
python-dotenv
python-gitlab
pytz
requests
requests-oauthlib
requests-toolbelt
six
urllib3
wrapt
